@model Iqraa.Models.ContactUs
@{ 
    string youtubeUrl = "https://youtube.com/@TAQRAAcenter";
}
<div class="lets_touch_main">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3 mb-0">
                <div class="contact__title">
                    <h2>@Resource.Contact</h2>
                </div>
                <ul class="list-unstyled contact text-light">
                    <li class="contact__item">
                        <a href="mailto:taqraa.senter@gmail.com" target="_blank" class="text-light">
                           @*<img src="/images/email-icon.png" class="d-inline-block"/>*@
                            <i class="fa fa-envelope fa-lg"></i>
                           <h3 class="d-inline-block">taqraa.senter@gmail.com</h3>
                        </a>
                    </li>
                    <li class="contact__item">
                        <a href="http://wa.me/966533639575" target="_blank">
                            @*<img src="/images/call-icon.png" class="d-inline-block" />*@
                            <i class="fa fa-phone-alt fa-lg"></i>
                            <h3 class="d-inline-block" dir="ltr">+966 533639575</h3>
                        </a>
                    </li>
                </ul>
                <ul class="d-flex social-media">
                    <li>
                        <a target="_blank" class="text-center" href="https://www.facebook.com/%D8%AA%D8%B9%D9%84%D9%8A%D9%85-%D8%A7%D9%84%D9%82%D8%B1%D8%A7%D8%A1%D8%A9-%D8%A7%D9%84%D8%B9%D8%B1%D8%A8%D9%8A%D8%A9-%D9%84%D9%82%D8%B1%D8%A7%D8%A1%D8%A9-%D8%A7%D9%84%D9%82%D8%B1%D8%A2%D9%86-%D8%A7%D9%84%D9%83%D8%B1%D9%8A%D9%85-101660185250653">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a class="text-center" href="https://twitter.com/QLiteracycenter?s=08" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a class="text-center" href="@youtubeUrl" target="_blank">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                    @*<li>
                        <a href="https://twitter.com/i/flow/login?redirect_after_login=%2FTaqraasenter" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>*@
                    @*<li>
            <a href="#">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fab fa-telegram"></i>
            </a>
        </li>*@
                </ul>
            </div>

            <div class="col-md-6">
                <div class="contact__title">
                    <h2>@Resource.SendMessage</h2>
                </div>
                <div class="input_main">
                    <div class="container">

                        @using (Html.BeginForm("AddMessage", "ContactUs", FormMethod.Post,new {@id ="my-form"}))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control email-bt", placeholder = @Resource.Name })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control email-bt", placeholder = @Resource.Email })
                                @Html.ValidationMessageFor(x => x.Email, string.Empty, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.TextAreaFor(m => m.Message, new { @class = "form-control email-bt", placeholder = @Resource.Message, style = "resize:none;height:180px", @id = "comment" })
                            </div>
                            @Html.HiddenFor(m => m.Id)
                            <div class="form-group">
                                <button class='btn btn-default' type="submit">@Resource.Send</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
