@model Iqraa.Models.ContactUs
<div class="lets_touch_main">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3 mb-0">
                    <div class="contact__title">
                        <h2>@Resource.Contact</h2>
                    </div>
                <ul class="list-unstyled contact">
                    <li class="contact__item">
                       <img src="/images/email-icon.png" class="d-inline-block"/> 
                        <h3 class="d-inline-block">info@iqraa-center.com</h3>
                    </li>
                    <li class="contact__item">
                        <img src="/images/call-icon.png" class="d-inline-block" />
                        <h3 class="d-inline-block">+966 540000000000</h3>
                    </li>
                </ul>
                <ul class="d-flex social-media">
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-telegram"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-6">
                <div class="contact__title">
                    <h2>@Resource.SendMessage</h2>
                </div>
                <div class="input_main">
                    <div class="container">

                        @using (Html.BeginForm("AddMessage", "ContactUs", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control email-bt", placeholder = @Resource.Name })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control email-bt", placeholder = @Resource.Email })
                            </div>
                            <div class="form-group">
                                @Html.TextAreaFor(m => m.Message, new { @class = "form-control email-bt", placeholder = @Resource.Message, style = "resize:none;height:180px", @id = "comment" })
                            </div>
                            @Html.HiddenFor(m => m.Id)
                            <div class="form-group">
                                <button class='btn btn-default' type="submit">@Resource.Send</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

