<div class="tophead">
    <section>
        @if (HttpContext.Current.Request.Cookies["Language"]!=null)
        {
            <ul class="language-bar header justify-content-center d-flex dir-rtl"  >
                <li class='@(Request.Cookies["Language"].Value == "ar"?"active":" ")'><a class="d-block"  href="@Url.Action("Change","Language",new {LanguageAbbreviation = "ar"})">عربي</a></li>
                <li class='@(Request.Cookies["Language"].Value == "ur"?"active":" ")'><a class="d-block" href="@Url.Action("Change","Language",new {LanguageAbbreviation = "ur"})">أوردو</a></li>
                <li class='@(Request.Cookies["Language"].Value == "es"?"active":" ")'><a class="d-block"  href="@Url.Action("Change","Language",new {LanguageAbbreviation = "es"})">Español</a></li>
                <li class='@(Request.Cookies["Language"].Value == "fr"?"active":" ")'><a class="d-block"  href="@Url.Action("Change","Language",new {LanguageAbbreviation = "fr"})">Français</a></li>
                <li class='@(Request.Cookies["Language"].Value == "en"?"active":" ")'><a class="d-block"  href="@Url.Action("Change","Language",new {LanguageAbbreviation = "en"})">English</a></li>
            </ul>
        }
        else
        {
            HttpCookie Cookie = new HttpCookie("Language");

            Cookie.Value = "en";
            <ul class="language-bar header dir-rtl">
                <li class='@(Cookie.Value == "ar"?"active":" ")'><a class="d-block" href="@Url.Action("Change","Language",new {LanguageAbbreviation = "ar"})">عربي</a></li>
                <li class='@(Cookie.Value == "ur"?"active":" ")'><a class="d-block"  href="@Url.Action("Change","Language",new {LanguageAbbreviation = "ur"})">أوردو</a></li>
                <li class='@(Cookie.Value == "es"?"active":" ")'><a class="d-block"  href="@Url.Action("Change","Language",new {LanguageAbbreviation = "es"})">Español</a></li>
                <li class='@(Cookie.Value == "fr"?"active":" ")'><a class="d-block"  href="@Url.Action("Change","Language",new {LanguageAbbreviation = "fr"})">Français</a></li>
                <li class='@(Cookie.Value == "en"?"active":" ")'><a class="d-block"  href="@Url.Action("Change","Language",new {LanguageAbbreviation = "en"})">English</a></li>
            </ul>
        }

    </section>
</div>
<div class="header_main">
    <div class="before-logo"></div>
    <div class="container">
        <div class="logo">
            <a href="@Url.Action("Index","Home")">
                <img src="/images/logo.png">
            </a>
        </div>
    </div>
</div>
<div class="header">
    <div class="container">
        <div class="col-sm-12">
            <div class="menu-area">
                <nav class="navbar navbar-expand-lg ">
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto justify-content-center d-flex">
                            <li class="nav-item active">
                                <a class="nav-link" href="@Url.Action("Index","Home")" >@Resource.Home<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("About","Home")">@Resource.About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","Services")">@Resource.Services</a>
                            </li>
                            <li class="nav-item" href="#">
                                <a class="nav-link" href="@Url.Action("Index","ContactUs")" >@Resource.Contact</a>
                            </li>
                            <li class="nav-item" href="#">
                                <a class="nav-link" href="@Url.Action("Index","News")">@Resource.CenterNews</a>
                            </li>
                            @*<li class="last">
                                <a href="#">
                                    <img src="/images/search-icon.png" alt="icon">
                                </a>
                            </li>*@
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
