<div  class="visitors">
    <p class="visitorp">@Resource.Visitors: @ApplicationInstance.Application["Totaluser"]</p>
</div>
<div class="tophead">
    <section>
        @if (HttpContext.Current.Request.Cookies["Language"]!=null)
        {
            <ul class="language-bar header justify-content-center d-flex dir-rtl"  >
                <li class='@(Request.Cookies["Language"].Value == "ar"?"active":" ")'><a class="d-block"  href="@Url.Action("Change","Language",new {LanguageAbbreviation = "ar"})">عربي</a></li>
                <li class='@(Request.Cookies["Language"].Value == "ur"?"active":" ")'><a class="d-block" href="@Url.Action("Change","Language",new {LanguageAbbreviation = "ur"})"> اردو زبان</a></li>
                <li class='@(Request.Cookies["Language"].Value == "es"?"active":" ")'><a class="d-block"  href="@Url.Action("Change","Language",new {LanguageAbbreviation = "es"})">Español</a></li>
                <li class='@(Request.Cookies["Language"].Value == "fr"?"active":" ")'><a class="d-block"  href="@Url.Action("Change","Language",new {LanguageAbbreviation = "fr"})">Français</a></li>
                <li class='@(Request.Cookies["Language"].Value == "en"?"active":" ")'><a class="d-block"  href="@Url.Action("Change","Language",new {LanguageAbbreviation = "en"})">English</a></li>
            </ul>
        }
        else
        {
            HttpCookie Cookie = new HttpCookie("Language");

            Cookie.Value = "en";
            <ul class="language-bar header dir-rtl">
                <li class='@(Cookie.Value == "ar"?"active":" ")'><a class="d-block" href="@Url.Action("Change","Language",new {LanguageAbbreviation = "ar"})">عربي</a></li>
                <li class='@(Cookie.Value == "ur"?"active":" ")'><a class="d-block"  href="@Url.Action("Change","Language",new {LanguageAbbreviation = "ur"})"> اردو زبان</a></li>
                <li class='@(Cookie.Value == "es"?"active":" ")'><a class="d-block"  href="@Url.Action("Change","Language",new {LanguageAbbreviation = "es"})">Español</a></li>
                <li class='@(Cookie.Value == "fr"?"active":" ")'><a class="d-block"  href="@Url.Action("Change","Language",new {LanguageAbbreviation = "fr"})">Français</a></li>
                <li class='@(Cookie.Value == "en"?"active":" ")'><a class="d-block"  href="@Url.Action("Change","Language",new {LanguageAbbreviation = "en"})">English</a></li>
            </ul>
        }
       
    </section>
</div>
<div class="header_main">
    <div class="before-logo"></div>
    <div class="container">
        <div class="logo">
            <a href="@Url.Action("Index","Home")">
                <img src="/images/logo.png">
            </a>
        </div>
    </div>
</div>
<div class="header">
    <div class="container">
        <div class="col-sm-12">
            <div class="menu-area">
                <nav class="navbar navbar-expand-lg ">
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto justify-content-center d-flex">
                            <li class="nav-item active">
                                <a class="nav-link" href="@Url.Action("Index","Home")" >@Resource.Home<span class="sr-only">(current)</span></a>
                            </li>
                            @*<li class="nav-item">
                                <a class="nav-link" href="@Url.Action("About","Home")">@Resource.About</a>
                            </li>*@
                            @*<li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","Services")">@Resource.Services</a>
                            </li>*@

                            @if (HttpContext.Current.Request.Cookies["Language"] != null)
                            {
                                if (Request.Cookies["Language"].Value == "ar")
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="https://docs.google.com/forms/d/1vI9ZaQi5panR6sJCWOcoUwGxgGEESNpFCsvEfo0kEXQ/edit?usp=sharing" target="_blank">@Resource.Registration</a>
                                    </li>
                                    <li class="nav-item" href="#">
                                        <a class="nav-link" href="@Url.Action("Index","ContactUs")">@Resource.Contact</a>
                                    </li>
                                }
                                else if (Request.Cookies["Language"].Value == "es")
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="https://docs.google.com/forms/d/15YavSVqGJquFlg58JgT9ibsERpp59s7rcE04JBiIxmY/viewform?edit_requested=true" target="_blank">@Resource.Registration</a>
                                    </li>
                                }
                                else if (Request.Cookies["Language"].Value == "fr")
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="https://docs.google.com/forms/d/1RD5d-Rp1xrr-ap9VHYaSBk86E74JJGteCYtrhgErzNE/edit?usp=sharing" target="_blank">@Resource.Registration</a>
                                    </li>
                                }
                                else if (Request.Cookies["Language"].Value == "ur")
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="https://docs.google.com/forms/d/1gx6hcf1y40rQDVluO4ANRoNcJKtE8vBjPyhxpj2YnIM/viewform?edit_requested=true" target="_blank">@Resource.Registration</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="https://docs.google.com/forms/d/1N0CcYtmGCDUTbSLbHof2vSBbyXN8PDDos6680IZ_EUc/edit?usp=sharing" target="_blank">@Resource.Registration</a>
                                    </li>
                                    <li class="nav-item" href="#">
                                        <a class="nav-link" href="@Url.Action("Index","ContactUs")">@Resource.Contact</a>
                                    </li>
                                }

                                @*if (Request.Cookies["Language"].Value == "ar" || Request.Cookies["Language"].Value == "en")
                                {
                                    <li class="nav-item" href="#">
                                        <a class="nav-link" href="@Url.Action("Index","ContactUs")">@Resource.Contact</a>
                                    </li>
                                }*@

                            }
                            else
                            {
                                HttpCookie Cookie = new HttpCookie("Language");

                                Cookie.Value = "en";
                            }

                            <li class="nav-item" href="#">
                                <a class="nav-link" href="@Url.Action("Index","News")">@Resource.CenterNews</a>
                            </li>
                           
                        </ul>
                       
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
