    <!--services start -->
<div class="services_main">
    <div class="container">
        @*<div class="creative_taital" style="margin-top:70px">
            <h1 class="creative_text">Creative Content Writing Services</h1>
            <p style="color: #050000; text-align: center;">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancIt is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infanc</p>
            <div class="btn_main">
                <button type="button" class="btn btn-dark btn-lg">Get started</button>
            </div>
        </div>*@
        <div class="section_service_2">
            <h1 class="service_text">@Resource.CenterPrograms</h1>
            <p style="font-size: 25px;
                    line-height: 61px;
                    color: #2f2d2d;">
                    @Resource.CentreOffer
            </p>
        </div>
        <div class="service_main">
            <div class="container">
                <div class="row">
                    <div class="col-md-6" >
                        <div class="written_text" >
                            <div class="like_icon">
                                <span style="color:white;font-size:50px;">
                                    1
                                </span>
                            @*<img src="images/like-icon.png">*@
                            </div>
                            <h1 class="written_text">@Resource.FirstProgram</h1>
                            <p>
                                <span style="font-style:italic">@Resource.FirstProgramHeading</span>
                                @Resource.FirstProgramDescription
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6" >
                        <div class="written_text">
                            <div class="like_icon"><img src="images/fast-forword-icon.png"></div>
                            <h1 class="written_text">@Resource.SecondProgram</h1>
                            <p>
                                <span style="font-style:italic">@Resource.SecondProgramHeading</span>
                                @Resource.SecondProgramDescription
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section_service_2" style="margin-top:30px">
            <h1 class="service_text">@Resource.Founder</h1>
            <p style="font-size: 25px;
                    line-height: 61px;
                    color: #2f2d2d;">
                @Resource.FounderName
            </p>
            <p>
                <span style="font-weight:bold">@Resource.FounderSpecialty</span>
                @Resource.FounderSpecialtyValue
            </p>
        </div>
        <div class="service_main">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" >
                        <div class="written_text">
                            <div class="like_icon">
                            @*<img src="images/like-icon.png"></div>*@
                            <h1 class="written_text">@Resource.FounderQualifications</h1>
                            <p>
                                <ul>
                                    <li>@Resource.FounderQualificationsValueLine1</li>
                                    <li>@Resource.FounderQualificationsValueLine2</li>
                                </ul>
                            </p>
                            <p>
                                <span>@Resource.FounderExperience</span>
                                <ol>
                                    <li>
                                        @Resource.FounderExperienceValueLine1
                                    </li>
                                    <li>
                                        @Resource.FounderExperienceValueLine2
                                    </li>
                                    <li>
                                        @Resource.FounderExperienceValueLine3
                                    </li>
                                </ol>
                            </p>
                            <br />
                            <h1 class="written_text">@Resource.FounderInterest</h1>
                            <p>
                                @Resource.FounderInterestValue
                            </p>
                            <br />
                            <h1 class="written_text">@Resource.FounderWritings</h1>
                            <p>
                              @Resource.FounderWritingsValue
                            </p>
                        </div>
                    </div>
                    @*<div class="col-md-6">
                        <div class="written_text">
                            <div class="like_icon"><img src="images/fast-forword-icon.png"></div>
                            <h1 class="written_text">Previous Experience</h1>
                            <p>
                                <ol>
                                    <li>
                                        1- Supervisor of teaching Arabic to students of the first three grades of the primary school.
                                    </li>
                                    <li>
                                        2- Elementary school Headmaster

                                    </li>
                                    <li>
                                        3- Arabic teacher.

                                    </li>
                                </ol>
                            </p>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
        @*<div class="service_main">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="written_text">
                            <div class="like_icon"><img src="images/like-icon.png"></div>
                            <h1 class="written_text">Founder's interests</h1>
                            <p>
                                Teaching Arabic reading to non-Arabs.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="written_text">
                            <div class="like_icon"><img src="images/fast-forword-icon.png"></div>
                            <h1 class="written_text">The Literature</h1>
                            <p>
                                A book for learning to read the noble Qur’an in thirty days.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>
</div>
<!--services end -->
