@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@Html.Partial("~/Views/Shared/_About.cshtml")*@
<div class="about_main" >
    <div class="container">
        <div class="creative_taital">
            <p class="creative_taital_text">
                @Resource.AboutUsP1
            </p>
            <p class="creative_taital_text">
                @Resource.AboutUsP2
            </p>
            <p class="creative_taital_text">
                @Resource.AboutUsP3
            </p>
            <h2 style="color: #050000; text-align: center;font-weight: 700;margin-top: 43px;">@Resource.OurMessage</h2>
            <p class="creative_taital_text mt-0">
                @Resource.OurMessageP1
            </p>
            <h2 style="color: #050000; text-align: center;font-weight: 700;margin-top: 43px;">@Resource.OurVision</h2>
            <p class="creative_taital_text mt-0">
                @Resource.OurVisionP1
            </p>
    </div>
</div>
    </div>
@section Footer{
    @Html.Partial("~/Views/Shared/Footer.cshtml", (int)ViewBag.visitorsNum)
}