@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--banner start -->
<div class="banner-main">
    <div class="container">
        <div id="main_slider" class="carousel slide" data-ride="carousel">
            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="titlepage-h1">
                        <h1 class="bnner_title">
                            @Resource.IQRAACentre<br>
                        </h1>
                        <h5 class="long_text" style="margin-top: 20px;margin-bottom: -25px;">@Resource.CentreMessage</h5>
                        <p class="long_text">@Resource.CentreMessageValue</p>
                        <h5 class="long_text" style="margin-top: 20px;margin-bottom: -25px;">@Resource.CentreVision</h5>
                        <p class="long_text">@Resource.CentreVisionValue</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="titlepage-h1">
                        <h1 class="bnner_title">
                            @Resource.IQRAACentre<br>
                        </h1>
                        <p class="long_text">@Resource.IQRAACentreP</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="titlepage-h1">
                        <h1 class="bnner_title">
                            @Resource.IQRAACentre<br>
                        </h1>
                        <p class="long_text">@Resource.IQRAACentreP2</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="titlepage-h1">
                        <h1 class="bnner_title">
                            @Resource.IQRAACentre<br>
                        </h1>
                        <p class="long_text">@Resource.IQRAACentreP3</p>
                    </div>
                </div>
                @*<div class="carousel-item">
                    <div class="titlepage-h1">
                        <h1 class="bnner_title">
                           @Resource.IQRAACentre<br>
                        </h1>
                        <p class="long_text">@Resource.IQRAACentreP2</p>
                    </div>

                </div>*@
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="prev">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>
<!--banner end -->
@Html.Partial("~/Views/Shared/_About.cshtml")       
    <!--services start -->
@Html.Partial("~/Views/Shared/_Services.cshtml")
    <!--services end -->

<!--quote_section start -->
@*@Html.Partial("~/Views/Shared/_Quote.cshtml")*@
<!--quote_section end -->

<!--touch_section start -->
@Html.Partial("~/Views/Shared/_ContactUs.cshtml")
<!--touch_section end -->